name: Build & Push to Docker Hub

on:
  push:
    branches:
      - allModels # o la rama que uses (main, master, develop, etc.)
  workflow_dispatch: # permite ejecutar manualmente desde GitHub

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/comfyui-cyberpony:latest
            ${{ secrets.DOCKER_USERNAME }}/comfyui-cyberpony:${{ github.sha }}
          build-args: |
            CIVITAI_API_KEY=${{ secrets.CIVITAI_API_KEY }}
